﻿<div class="page anim-slide-left">
    <h1>Charge $10 with Stripe</h1>
    <form id="payment-form" ng-submit="submit()" ng-if="!offline">
        <div class="form-row">
            <label>
                <span>Card Number</span>
                <input class="cc-num" ng-model="number" type="text" size="20" />
                <div class="card-icons">
                    <i class="fa fa-2x fa-cc-visa"></i>
                    <i class="fa fa-2x fa-cc-mastercard"></i>
                    <i class="fa fa-2x fa-credit-card"></i>
                </div>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>CVC</span>
                <input class="cc-cvc" ng-model="cvc" type="text" size="4" />
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Card Holder Name</span>
                <input class="cc-name" ng-model="name" type="text" />
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Expiration (MM/YYYY)</span>
                <input type="text" ng-model="expiry" class="cc-exp" />
            </label>
        </div>

        <button class="btn" ng-disabled="working" type="submit">Next</button>
    </form>

    <div ng-if="offline">

        <p class="teal-text">
            It seems you are not connected currently. Please check your connection and retry
        </p>
        <p>
            <button ng-click="refresh()" class="btn btn-large">RETRY...</button>
        </p>

    </div>
</div>