﻿<div class="page anim-slide-left">
    <h3>Choose your plan</h3>
    <div id="plan-form" class="row">

        <div class="col l4 plan" ng-class="{active:isPlan('basic')}" ng-click="setPlan('basic')">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/web/assets/img/plana.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Basic<i class="mdi-navigation-more-vert right"></i></span>
                    <p></p>
                    <p><button ng-disabled="working" ng-click="selectPlan('basic')" class="btn">SUBSCRIBE $100</button></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Basic <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col l4 plan" ng-class="{active:isPlan('premium')}" ng-click="setPlan('premium')">
            <div class="card">
                <div class="arrow-right"><span>Most Popular</span></div>
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/web/assets/img/planb.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Premium<i class="mdi-navigation-more-vert right"></i></span>
                    <p></p>
                    <p><button ng-disabled="working" ng-click="selectPlan('premium')" class="btn">SUBSCRIBE $150</button></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Premium <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col l4 plan" ng-class="{active:isPlan('premium+')}" ng-click="setPlan('premium+')">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/web/assets/img/planc.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Premium +<i class="mdi-navigation-more-vert right"></i></span>
                    <p></p>
                    <p><button ng-disabled="working" ng-click="selectPlan('premium+')" class="btn">SUBSCRIBE $300</button></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Premium + <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>
</div>