﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - Treasury Express</title>
    @Styles.Render("~/web/assets/base.css")

    <script>
        var token = '@AntiForgery.GetHtml()';
        var tx = {
            base: "@Url.Content("~")",
            xsrf: token.substr(token.indexOf('value="') + 7).split('"')[0]
        };
</script>

</head>
<body class="">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a id="logo-container" href="@Url.Content("~")" class="brand-logo"><img src="http://www.boxautomation.com/sites/all/themes/c2b/css/images/home-logo.jpg" /></a>
                <ul class="right">
                    <li><a href="#"></a></li>
                    @Html.Partial("_LoginPartial")
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>


    <div class="container">

        @RenderBody()

       
    </div>

    <footer class="page-footer light-blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">Treasury Express</p>


                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
@Scripts.Render("~/web/assets/scripts.js")
@Scripts.Render("~/web/assets/charts.js")
@Scripts.Render("~/web/assets/angular.js")
@RenderSection("scripts", required: false)

</body>
</html>

