﻿
$loader-size: 80px;

.working-element {

    &.working {
        position: relative;

        &::after {
            opacity: 0.9;
        }

        &::before, .spinner {
            opacity: 1;
        }
    }

    &::after {
        content: " ";
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        opacity: 0;
        transition: .5s linear all;
    }

    &::before, .spinner {
        content: " ";
        display: block;
        width: $loader-size;
        height: $loader-size;
        margin: 0 auto;
        -webkit-animation: rotateplane 1.2s infinite ease-in-out;
        animation: rotateplane 1.2s infinite ease-in-out;
        position: fixed;
        top: 45%;
        left: 50%;
        z-index: 999;
        @extend .blue;
        opacity: 0;
        transition: .5s linear all;
    }
}


@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
