﻿/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import "lib/materialize";
@import "widgets/loader";




.angle {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateX('45deg');
} 

body {
    overflow-y: scroll;
    text-align:center;
}

.icon-block {
    padding: 0 15px;
}

.form-row {
    position: relative;

    input.cc-num.visa + .card-icons .fa-cc-visa {
        display: block;
    }

    input.cc-num.mastercard + .card-icons .fa-cc-mastercard {
        display: block;
    }


    input.cc-num.unknown + .card-icons .fa-credit-card {
        display: block;
    }

    .card-icons {
        right: 0;
        position: absolute;
        top: 0;

        i.fa {
            display: none;
            @extend .teal-text;
        }
    }
}
