﻿@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section ng-app="tx.subscription">
    <div ui-view="mainView" class="anim-in-out"></div>
</section>

@section Scripts{
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    @Scripts.Render("~/web/subscription.js")
}
